@charset "utf-8";
@import url('reset.css');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


/** временно **/

.scroll-block {
    width: 100%;
    overflow-y: scroll
}

.scroll-block::-webkit-scrollbar-track {
    border-radius: 4px
}

.scroll-block::-webkit-scrollbar {
    width: 6px
}

.scroll-block::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #fff
}

.scroll-block:hover::-webkit-scrollbar-thumb {
    background: #ebebed
}
